:root{
  --primary-color:#141629; 
}

.d-flex{
  display: flex;
}
.justify-content-center{
  justify-content:center;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-end{
  justify-content: flex-end;
}
.align-items-center{
  align-items:center;
}
.flex-column{
  flex-direction: column;
}
.g-8{
  gap:8px
}
.ml-4 {
  margin-left: 4px;
}
.pt-4{
  padding-top: 4px;
}
.pl-8{
  padding-left: 8px;
}
.pr-8{
  padding-right: 8px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-16 {
  margin-left: 16px;
}
.ml-26 {
  margin-left: 26px;
}
.ml-32 {
  margin-left: 32px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-4 {
  margin-right: 4px;
}
.mr-2 {
  margin-right: 2px;
}
.mt-4 {
  margin-top: 4px;
}
.mt-6 {
  margin-top: 6px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-10{
  margin-bottom: 10px;
}
.mt-8 {
  margin-top: 8px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.mr-16 {
  margin-right: 16px;
}
.ml-auto {
  margin-left: auto;
}
.mt-32 {
  margin-top: 32px;
}
.mt-26 {
  margin-top: 26px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-94 {
  margin-bottom: 94px;
}
.gap-40{
  gap:40px;
}
.g-6{
  gap:6px;
}

.pt-8 {
  padding-top: 8px;
}
.pt-16 {
  padding-top: 16px;
}
.pb-4 {
  padding-bottom: 4px;
}
.pl-8 {
  padding-left: 8px;
}
.pr-8 {
  padding-right: 8px;
}
.pt-0{
  padding-top: 0 !important;
}
.pt-10{
  padding-top: 10px !important;
}
.pl-1rem{
  padding-left: 1rem !important;
}
.cursor-pointer{
  cursor: pointer;
}
.w-100{
    width: 100% !important;
}
.w-75{
    width: 75% !important;
}
.w-50{
    width: 50% !important;
}
.w-25{
    width: 25% !important;
}
.text-center{
    text-align: center !important;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-bold{
  font-weight: bold;
}
.text-16px{
  font-size: 16px !important;
}
.text-12px{
  font-size: 12px !important;
}

